.profile__image {
  background-image: url(https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/272047927_467441191643777_4410458102344515864_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=0debeb&_nc_ohc=E-0cxAfCD_8AX-6N66Z&_nc_ht=scontent-ord5-2.xx&oh=00_AfCIVibV9GwfyC-yjsq8lG9S17qnc5nh4Bwd1U_MrytJyA&oe=6402001F);
  border-radius: 100%;
  min-width: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}