.profile__image {
  background-image: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t39.30808-6/272047927_467441191643777_4410458102344515864_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=0debeb&_nc_ohc=6-75k_ElzC8AX8s1ojN&_nc_ht=scontent-sjc3-1.xx&oh=00_AfDayDgb53eUjcyQmkV4vX7YhHbRXHAgzo6Z_pnvrZkKHg&oe=64F3429F);
  border-radius: 100%;
  min-width: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}