.profile__image {
  background-image: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t39.30808-6/272047927_467441191643777_4410458102344515864_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=0debeb&_nc_ohc=N8B2P496Y1cAX8KsTkg&_nc_ht=scontent-sjc3-1.xx&oh=00_AfB0gJh_6pnh9v-zjUWhlHWtiM0qDylP8DuvUISSeFfKjw&oe=644D259F);
  border-radius: 100%;
  min-width: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}