.popup__line {
    width: 83.5%;
    opacity: 0.2;
    border: 1px solid #000000;
    margin: 13.26px auto 29.74px;
}

@media screen and (min-width: 320px) and (max-width: 618px) {
    .popup__line {
        max-width: 238px;
      }
    }