.profile__button-add {
  background-color: #000;
  width: 150px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  align-self: center;
  transition: opacity 0.15s ease 0s;
  cursor: url(../../../images/vectores/hand.svg), auto;
}

.profile__button-add:hover {
  opacity: 0.6;
}
@media screen and (min-width: 320px) and (max-width: 925px) {
  .profile__button-add {
    margin-top: 36px;
    width: 282px;
  }
}