.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  margin-top: 46.25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .elements {
    margin-top: 36px;
    width: 100vw;
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media screen and (min-width: 619px) and (max-width: 925px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}