.card__button-like {
  appearance: none;
  background-image: url(../../../images/vectores/Vector-heart.svg);
  background-repeat: no-repeat;
  min-width: 21px;
  min-height: 19px;
  border: none;
  background-color: #fff;
  align-self: center;
  position: relative;
  transition: opacity 0.15s ease 0s;
  cursor: url(../../../images/vectores/hand.svg), auto;
}

.card__button-like:hover {
  opacity: 0.5;
}

.card__button-like:checked {
  background-image: url(../../../images/vectores/black-heart.svg);
}

.card__button-like:active {

}

@media screen and (min-width: 320px) and (max-width: 618px) {
  .card__button-like:hover {
    opacity: 1;
  }
}