.popup__item {
    border-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    width: 358px;
    height: 14px;
    align-self: center;
    border-bottom: 1px solid #d5d9e7;
    color: #000;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 5px;
}

@media screen and (min-width: 320px) and (max-width: 618px) {
    .popup__item {
        max-width: 238px;
      }
    }