.profile__image {
  background-image: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t39.30808-6/272047927_467441191643777_4410458102344515864_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=813123&_nc_ohc=aOeeC049LhcAX-JI4Wk&_nc_ht=scontent-sjc3-1.xx&oh=00_AfAftZpIHLeD6I8nJtXvS4K0hte6aaxmW1Mrpb174Ax1vw&oe=652AA19F);
  border-radius: 100%;
  min-width: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}