.card__title-container {
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  align-items: center;
  border-radius: 0 0 10px 10px;
}